.Logo{
    background-color:darkolivegreen;
    padding: 8px;
    height: 80%;
    box-sizing: border-box;
    border-radius: 5px;
}

.Logo img{
    height: 100%;
    width: 10%;
    size: 20px;
    box-sizing: border-box;
    border-radius: 5px;
}