.App {
  text-align: center;
  font-family:'Permanent Marker',sans-serif;
  margin-left:200px;
  margin-right:200px;
  /* background-color:yellowgreen; */
  color:whitesmoke;


  background-image: url(.src/../assets/images/expense.jpg) no-repeat;
  height:800px;
  width:800px;
  margin-top:0; 
  background-repeat: no-repeat;
}


